* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  
  
  body {
      font-family: Helvetica, Arial, sans-serif;
      color: #39a6b2;
  
    }
  
  header {
      padding: 20px;
      padding-left:0px;
      background-color: #3d4653  ;
      position: sticky;
      top: 0;
      

    }
  
  header h1 {
      font-weight: bold;
      font-size: 36px;
      color: #333;
      margin: 0;
      background-color: #39a6b2;
      padding: 10px ;
      padding-left: 50px;
      display:inline-block;

    }
  
  header a {
      text-decoration: none;
      color: #39a6b2;
    }
  
  header nav {
      float: right;
      margin: 7px 0;
    }
  
  header nav ul li {
      display: inline;
      margin-right:15px;
   
     
      border: solid #39a6b2;
      padding-bottom: 4px;
      border-width: 0 0 4px 0;
    }
  
  header nav ul li a {
      padding: 15px;
      font-size: 22px;
    
    }


    .hero {
      background-image: url("../images/hero-bg.jpg");
      background-size: cover;
      background-position: center;
      background-attachment: fixed;
      background-position: 0% 90%;

      height:400px;
    
      display: flex;
      justify-content: flex-end;
  align-items: flex-end;
  align-content: flex-end;
    flex-wrap: wrap;
    
      
    }
    
    
    .hero h2 {
      font-size: 40px;
      color: #333;
      margin-right:50px;
      margin-bottom:20px;
      background-color: #39a6b2;
      padding:10px;
    }

    .section-content {

      margin-top: 55px;
      display: flex;
      justify-content: center;
      
    
    }

    .section-title{
     
      width: 15%;
      float:right;
      
      
    }

    .section-title h2 {
text-align: right;
margin-right: 10px;
font-size: 40px;
color: #637288;
     
    }
    .section-text{
    padding-left: 40px;
    width: 65%;
    border: solid #637288;
    border-width: 0 0 0 4px;
    }
  
    .projects-grid-wrapper{
      margin-top: 40px;
      display: flex;
      width: 100%;
     
      justify-content: center;

    }
    .projects {
      display: grid;
      height: 500px;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr ;

    }

    .project{

      margin: 5px;
      position:relative;
  

      border: 3px solid #39a6b2;
      color: #333;
      display: flex;  
      flex-direction: column;
      justify-content: flex-end;
      flex-wrap: wrap;
      transition: background-color 1s ease;
      
  

    }

 .project-title {
width:40%;
padding:15x;
margin-bottom:10px;
background-color: #39a6b2;
display: flex;  
flex-direction: column;
justify-content: center;
text-align:center;
 }


    .project.feature{

      grid-column: 1 / span 2;
      grid-row: 1 / span 2;

      background-image:   url("../images/horiseon.jpg");
    
  background-size: cover;
  background-position: 0% 0%;
  
  
    }

    .project.monaco {

      background-image: url("../images/monaco.png");

      background-size: cover;
      background-position: 0% 20%;
    }

    .project.surf {

      background-image: url("../images/surf.jpg");

      background-size: cover;
      background-position: 0% 50%;

    }

    .project.led {
      background-image: url("../images/led.jpg");

      background-size: cover;
      background-position: 0% 50%;

    }

    .project.run {
      background-image: url("../images/run.png");

      background-size: cover;
      background-position: 0% 50%;
    }

    .contacts {

   display:flex;
   justify-content: space-around;
      

    }
    .contacts  li {
      display: inline;
      margin-right:15px;
   
     
      border: solid #333333;
      padding-bottom: 4px;
      border-width: 0 0 4px 0;
    }
  
  .contacts a {
      padding: 15px;
      color: #333;
      font-size: 22px;
      font-style: bold;
    
    }

     a:link {
      text-decoration: none;
      
    }
    
    a:visited {
      text-decoration: none;
      
      
    }
    
    a:hover {
      text-decoration: none;

    
    }
    
   a:active {
      text-decoration: none;
     
    }

    .project:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: lightyellow;
      opacity: 0;
      transition: .5s;
      }
      
      .project:hover:after {
      opacity: 0.5;
      }

    
    
    